In [610]:
import pandas as pd 
import numpy as np

1. olist_customers_dataset.csv

In [611]:
# Create new dataframe from olist_customers_dataset.csv
customer_data = pd.read_csv("olist_customers_dataset.csv")

In [612]:
# Set index for dataframe as customer_id.
customer_data.set_index('customer_id', inplace=True)

# Print dataframe.
customer_data.head()

,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
customer_id,,,,
06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [613]:
# Count rows of each column in customer_data.
customer_data.count()

customer_unique_id          99441
customer_zip_code_prefix    99441
customer_city               99441
customer_state              99441
dtype: int64

In [614]:
# Check for null values.
customer_data.isnull().sum()

customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [615]:
# Check for number of unique entries.
customer_data.nunique()

customer_unique_id          96096
customer_zip_code_prefix    14994
customer_city                4119
customer_state                 27
dtype: int64

In [616]:
# Drop duplicates from customer_unique_id.
customer_data.drop_duplicates(subset = ['customer_unique_id'], inplace = True)

In [617]:
# Count rows in each column.
customer_data.count()

customer_unique_id          96096
customer_zip_code_prefix    96096
customer_city               96096
customer_state              96096
dtype: int64

In [618]:
# Check datatypes of each column.
customer_data.dtypes

customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

2. Olist_geolocation_dataset.csv

In [619]:
# Create new dataframe from olist_geolocation_dataset.csv.
geolocation_data = pd.read_csv("olist_geolocation_dataset.csv")

In [620]:
# Set index as geolocation_zip_code_prefix.
geolocation_data.set_index("geolocation_zip_code_prefix", inplace = True)
geolocation_data.head()

,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
geolocation_zip_code_prefix,,,,
1037,-23.545621,-46.639292,sao paulo,SP
1046,-23.546081,-46.644820,sao paulo,SP
1046,-23.546129,-46.642951,sao paulo,SP
1041,-23.544392,-46.639499,sao paulo,SP
1035,-23.541578,-46.641607,sao paulo,SP

In [621]:
# Count number of entries.
geolocation_data.count()

geolocation_lat      1000163
geolocation_lng      1000163
geolocation_city     1000163
geolocation_state    1000163
dtype: int64

In [622]:
# Check for null values.
geolocation_data.isnull().sum()

geolocation_lat      0
geolocation_lng      0
geolocation_city     0
geolocation_state    0
dtype: int64

In [623]:
# Check datatypes.
geolocation_data.dtypes

geolocation_lat      float64
geolocation_lng      float64
geolocation_city      object
geolocation_state     object
dtype: object

3. olist_order_items_dataset.csv

In [624]:
# Create pandas dataframe for olist_order_items_dataset.csv and use parse_dates to infer datetime format on 
# shipping_limit_date column.
parse_dates = ["shipping_limit_date"]
order_item_data = pd.read_csv("olist_order_items_dataset.csv",\
                              infer_datetime_format = True, parse_dates = parse_dates)

/var/folders/m6/ptq3y21s145g5zlfkk2c8wf00000gp/T/ipykernel_67002/2063895749.py:4: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  order_item_data = pd.read_csv("olist_order_items_dataset.csv",\

In [625]:
# Reset index and check dataframe.
order_item_data.reset_index(drop = False , inplace = True)
order_item_data.head()

,index,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [626]:
# Drop duplicates from order_id.
order_item_data.drop_duplicates(subset = ['order_id'], inplace = True)

# Count rows in each column.
order_item_data.count()

index                  98666
order_id               98666
order_item_id          98666
product_id             98666
seller_id              98666
shipping_limit_date    98666
price                  98666
freight_value          98666
dtype: int64

In [627]:
# Set index as order_id and check dataframe.
order_item_data.set_index("order_id", inplace = True)
order_item_data.head()

,index,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
order_id,,,,,,,
00010242fe8c5a6d1ba2dd792cb16214,0,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
00018f77f2f0320c557190d7a144bdd3,1,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
000229ec398224ef6ca0657da4fc703e,2,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
00024acbcdf0a6daa1e931b038114c75,3,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
00042b26cf59d7ce69dfabb4e55b4fd9,4,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [628]:
# Check for number of uniques values in each column.
order_item_data.nunique()

index                  98666
order_item_id              1
product_id             31881
seller_id               3088
shipping_limit_date    93001
price                   5882
freight_value           6743
dtype: int64

In [629]:
# Check for null values.
order_item_data.isnull().sum()

index                  0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [630]:
# Check datatypes in each column.
order_item_data.dtypes

index                           int64
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [631]:
order_item_data['shipping_limit_date'] = order_item_data['shipping_limit_date'].dt.date
order_item_data.head()

,index,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
order_id,,,,,,,
00010242fe8c5a6d1ba2dd792cb16214,0,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.90,13.29
00018f77f2f0320c557190d7a144bdd3,1,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03,239.90,19.93
000229ec398224ef6ca0657da4fc703e,2,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18,199.00,17.87
00024acbcdf0a6daa1e931b038114c75,3,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15,12.99,12.79
00042b26cf59d7ce69dfabb4e55b4fd9,4,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13,199.90,18.14

In [632]:
order_item_data['shipping_limit_date'] = pd.to_datetime(order_item_data['shipping_limit_date'])

In [633]:
# Drop index column.
order_item_data.drop(columns = ["index"], inplace = True)
order_item_data.head()

,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
order_id,,,,,,
00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19,58.90,13.29
00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03,239.90,19.93
000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18,199.00,17.87
00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15,12.99,12.79
00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13,199.90,18.14

In [634]:
# Check datatypes of each column.
order_item_data.dtypes

order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

4. olist_order_payments_dataset.csv

In [635]:
# Read in olist_order_payments_dataset.csv and make pandas dataframe.
order_payment_data = pd.read_csv("olist_order_payments_dataset.csv")

# Drop duplicates from order_id column.
order_payment_data.drop_duplicates(subset = ['order_id'], inplace = True)

# Set index as order_id.
order_payment_data.set_index("order_id", inplace = True)

# Print dataframe.
order_payment_data.head()

,payment_sequential,payment_type,payment_installments,payment_value
order_id,,,,
b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [636]:
# Count rows of each column.
order_payment_data.count()

payment_sequential      99440
payment_type            99440
payment_installments    99440
payment_value           99440
dtype: int64

In [637]:
# Count number of unique entries.
order_payment_data.nunique()

payment_sequential         16
payment_type                5
payment_installments       24
payment_value           28133
dtype: int64

In [638]:
# Print dataframe.
order_payment_data.head()

,payment_sequential,payment_type,payment_installments,payment_value
order_id,,,,
b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [639]:
# Check for null values.
order_payment_data.isnull().sum()

payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

5. olist_order_reviews_dataset.csv

In [640]:
# Read in olist_order_reviews_dataset.csv as pandas dataframe and parse dates of 
# "review_creation_date" and "review_answer_timestamp" columns.
parse_dates = ["review_creation_date", "review_answer_timestamp"]
order_reviews_data = pd.read_csv("olist_order_reviews_dataset.csv",\
                                 infer_datetime_format = True, parse_dates = parse_dates)

# Drop duplicates from review_id column.
order_reviews_data.drop_duplicates(subset = ['review_id'], inplace = True)

/var/folders/m6/ptq3y21s145g5zlfkk2c8wf00000gp/T/ipykernel_67002/1585667742.py:4: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  order_reviews_data = pd.read_csv("olist_order_reviews_dataset.csv",\

In [641]:
# Set index as review_id column.
order_reviews_data.set_index("review_id", inplace = True)

# Print dataframe.
order_reviews_data.head()

,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
review_id,,,,,,
7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18,2018-01-18 21:46:59
80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10,2018-03-11 03:05:13
228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17,2018-02-18 14:36:24
e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21,2017-04-21 22:02:06
f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabns lojas lannister adorei comprar pela I...,2018-03-01,2018-03-02 10:26:53

In [642]:
# Count number of entries in each column.
order_reviews_data.count()

order_id                   98410
review_score               98410
review_comment_title       11519
review_comment_message     40668
review_creation_date       98410
review_answer_timestamp    98410
dtype: int64

In [643]:
# Count number of unique entries.
order_reviews_data.nunique()

order_id                   98167
review_score                   5
review_comment_title        4527
review_comment_message     36159
review_creation_date         636
review_answer_timestamp    98248
dtype: int64

In [644]:
# Check for null values.
order_reviews_data.isnull().sum()

order_id                       0
review_score                   0
review_comment_title       86891
review_comment_message     57742
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [645]:
# Drop columns with null values.
order_reviews_data.drop(columns = ["review_comment_title", "review_comment_message"], inplace = True)

In [646]:
# Check datatypes.
order_reviews_data.dtypes

order_id                           object
review_score                        int64
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

In [647]:
# Change column to datetime.
order_reviews_data['review_answer_timestamp'] = order_reviews_data['review_answer_timestamp'].dt.date
order_reviews_data.head()

,order_id,review_score,review_creation_date,review_answer_timestamp
review_id,,,,
7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,2018-01-18,2018-01-18
80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,2018-03-10,2018-03-11
228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,2018-02-17,2018-02-18
e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,2017-04-21,2017-04-21
f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,2018-03-01,2018-03-02

In [648]:
# Check datatypes.
order_reviews_data.dtypes

order_id                           object
review_score                        int64
review_creation_date       datetime64[ns]
review_answer_timestamp            object
dtype: object

In [649]:
# Change column to datetime.
order_reviews_data['review_answer_timestamp'] = pd.to_datetime(order_reviews_data['review_answer_timestamp'])

In [650]:
# Check datatypes.
order_reviews_data.dtypes

order_id                           object
review_score                        int64
review_creation_date       datetime64[ns]
review_answer_timestamp    datetime64[ns]
dtype: object

6. Olist_orders_dataset.csv

In [651]:
# Read in olist_orders_dataset.csv as a pandas dataframe.
parse_dates = ["order_purchase_timestamp", "order_approved_at", "order_delivered_carrier_date", "order_delivered_customer_date", "order_estimated_delivery_date"]
orders_data = pd.read_csv("olist_orders_dataset.csv", infer_datetime_format = True, parse_dates = parse_dates)

# Set index as order_id.
orders_data.set_index("order_id", inplace = True)

# Print dataframe.
orders_data.head()

/var/folders/m6/ptq3y21s145g5zlfkk2c8wf00000gp/T/ipykernel_67002/2951460942.py:3: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  orders_data = pd.read_csv("olist_orders_dataset.csv", infer_datetime_format = True, parse_dates = parse_dates)

,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
order_id,,,,,,,
e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [652]:
# Count number of entries in each column.
orders_data.count()

customer_id                      99441
order_status                     99441
order_purchase_timestamp         99441
order_approved_at                99281
order_delivered_carrier_date     97658
order_delivered_customer_date    96476
order_estimated_delivery_date    99441
dtype: int64

In [653]:
# Count number of unique entries in each column.
orders_data.nunique()

customer_id                      99441
order_status                         8
order_purchase_timestamp         98875
order_approved_at                90733
order_delivered_carrier_date     81018
order_delivered_customer_date    95664
order_estimated_delivery_date      459
dtype: int64

In [654]:
# Check for null values.
orders_data.isnull().sum()

customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

In [655]:
orders_data["order_purchase_timestamp"] = orders_data["order_purchase_timestamp"].dt.date
orders_data["order_approved_at"] = orders_data["order_approved_at"].dt.date
orders_data["order_delivered_carrier_date"] = orders_data["order_delivered_carrier_date"].dt.date
orders_data["order_delivered_customer_date"] = orders_data["order_delivered_customer_date"].dt.date

In [656]:
# Check datatypes of each column.
orders_data.dtypes

customer_id                              object
order_status                             object
order_purchase_timestamp                 object
order_approved_at                        object
order_delivered_carrier_date             object
order_delivered_customer_date            object
order_estimated_delivery_date    datetime64[ns]
dtype: object

In [657]:
# Drop null values.
orders_data.dropna(axis = 0, how = "any", inplace = True)

#Check for null values.
orders_data.isnull().sum()

customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

In [658]:
# Change datatypes of certain columns to datetime.
orders_data['order_purchase_timestamp'] = pd.to_datetime(orders_data['order_purchase_timestamp'])
orders_data['order_approved_at'] = pd.to_datetime(orders_data['order_approved_at'])
orders_data['order_delivered_carrier_date'] = pd.to_datetime(orders_data['order_delivered_carrier_date'])
orders_data['order_delivered_customer_date'] = pd.to_datetime(orders_data['order_delivered_customer_date'])

In [659]:
# Check datatypes of each column.
orders_data.dtypes

customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

7. olist_products_dataset.csv

In [660]:
order_item_data.to_csv("order_item_data.csv")
order_payment_data.to_csv("order_payment_data.csv")